body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif, monospace;
}
.container {
    display: flex;
    min-height: 100vh;
}

.logo {
    text-align: center;
    width: 100%;
    background-color: #1d3f54;
    color: #e5c409;
    padding: 10px;
    box-sizing: border-box;
    /* add a border line at the bottom */
    border-bottom: 1px solid white;
}

.logo a {
    color: #e5c409;
    text-decoration: none;
}

.nav {
    width: 200px;
    background-color: #1d3f54;
    color: white;
    padding: 10px;
    box-sizing: border-box;
}

.dropdown-menu {
    margin-top: 30px;
    text-align: center;
    height: 50px;
    overflow-y: hidden;
    text-decoration: none;
    border: none;
}

.dropdown-menu:hover {
    border: white 1px solid;
    transition: all 1s ease;
}

.dropdown-menu:hover .dropdown-menu-subclass {
    color: #e5c409;
}

.dropdown-menu a {
    color: white;
    text-decoration: none;
}

.dropdown-menu ul a{
    color: white;
    text-decoration: none;
}

.dropdown-menu ul li {
    /* margin-bottom: 10px; */
    list-style: none;
    text-align: center;
    transform: translateX(-20px);
    padding: 10px;
}

.dropdown-menu ul a:hover {
    color: #e5c409;
    transition: color 1s;
}

.dropdown-menu ul li:hover {
    background-color: #1d3f54;
    border-radius: 10px;
    border: white 1px solid;
    transition: all 1s ease;
}

.content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    /* add linear gradient color */
    background: linear-gradient(90deg, #1d3f54, #e5c409);
    border-left: 1px solid white;
}

.content h2 {
    color: white;
}

.type-writer {
    display: inline-block;
    font-family: monospace;
    white-space: nowrap;
    overflow: hidden;
    color: white;
    border-right: .15em solid white;
    animation: blink .75s step-end infinite;
}

@keyframes blink {
    50% { border-color: transparent; }
}

.cards-container {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cards {
    width: 100%;
    height: 120px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.4);
    margin-bottom: 20px;
}

.cards h2 {
    text-align: center;
    color: #1d3f54;
}

.cards p {
    text-align: center;
    color: #1d3f54;
    line-height: 30px;
}

.cards:hover {
    background-color: rgba(255, 255, 255, 0.8);
    transition: all 1s ease;
}

.cards-s {
    width: 31%;
    height: 450px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.4);
}

.cards-s h2 {
    text-align: center;
    color: #1d3f54;
}

.cards-s p {
    text-align: left;
    padding: 10px;
    color: #1d3f54;
    line-height: 30px;
}

.cards-s:hover {
    background-color: rgba(255, 255, 255, 0.8);
    transition: all 1s ease;
}

.cv_rp_btn {
    display: block;
    width: 150px;
    height: 40px;
    background-color: white;
    color: #1d3f54;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}